*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
   display: flex;
   justify-content: space-between;
   background-color: bisque;
   padding: 10px;
}
.header ul {
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: auto;
    list-style: none;
    
}
.header ul li{
    padding: 10px;
    text-decoration: none;
}
.header .link h2{
    margin: 0;
}
.header .link {
    text-decoration: none;
    font-size: 22px;
}
 .college .link{
    text-decoration: none;
    font-size: 22px;
    margin: 10px;
 }